
<div class="container container-categories">
    <div class="grid grid--no-gutters image-bar image-bar--{{ section.settings.section_height }}">
        {% case section.blocks.size %}
            {% when 1 %}
            {%- assign column_size = '' -%}
            {% when 2 %}
            {%- assign column_size = 'medium-up--one-half' -%}
            {% when 3 %}
            {%- assign column_size = 'medium-up--one-third' -%}
            {% else %}
            {%- assign column_size = 'medium-up--one-quarter' -%}
        {% endcase %}
        {%- assign collection = collections[section.settings.collection] -%}
        {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
      
        {% if section.settings.collection != blank %}
            <div class="section-header text-center">
                <h1>{{ section.settings.title | escape }}</h1>
            </div>
        {% endif %}
        <div class="row">
            {% for  product in collection.products limit: product_limit %}
                {%- assign preview_image = product.featured_media.preview_image -%}
                {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <div class="product-card {{ column_size }} js">
                
                {% if product.url != blank %}
                    <a class="image-bar__link" href="{{ product.url | within: collection }}">
                    <div class="image-bar__item box ratio-container lazyload"
                        data-bgset="{% include 'bgset', image: preview_image %}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        style="background-position: {{ block.settings.alignment }};"
                        data-image-loading-animation>
                {% elsif preview_image != blank %}
                    <div class="image-bar__item image-bar__item--{{ block.id }} box ratio-container lazyload"
                        data-bgset="{% include 'bgset', image: preview_image %}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        style="background-position: {{ block.settings.alignment }};"
                        data-image-loading-animation>
                {% else %}
                    <div class="image-bar__item">
                {% endif %}
                <div class="image-bar__content{% if product.url != blank %} image-bar__overlay{% endif %}">
                    {% if preview_image == blank %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                </div>
                {% if product.url != blank %}
                    </div></a>
                {% else %}
                    </div>
                {% endif %}
                </div>
                <noscript>
                <div class="product-card {{ column_size }}">
                    <div class="image-bar__item image-bar__item--{{ block.id }}" style="background-image: url({{ preview_image | img_url: '2048x' }});"></div>
                </div>
                </noscript>
            {% endfor %}
        </div>
        <div class="row">
            {% if section.settings.collection != blank %}
                <div class="col-4 text-center info-collection"> 
                    <h5 class="title-info">CATEGORY:</h5>
                    <p>{{collection.title}}</p>
                </div>
                <div class="col-4 text-center info-collection"> 
                    <h5 class="title-info">AUTHOR:</h5>
                    <p>Admin</p>
                </div>
                <div class="col-4 text-center info-collection"> 
                    <h5 class="title-info">TAGS:</h5>
                    {% if collection.tags != blank %}
                        {% for item in collection.all_tags %}
                            {{item}}
                        {% endfor %}
                    {% else %}
                        <p>Noooooo</p>        
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
  
{% schema %}
  {
    "name": "Categories",
    "class": "categories-section",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 2
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "shop the look"
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      }
    ]
  }
{% endschema %}
  