<div id="{{section.id}}" data-section-id="{{ section.id }}" data-section-type="custom-slide" data-section-cpr="4">
  <div class="container padding-0">
    {% if section.settings.title != blank %}
      <h2 class="lookbook-gallery-heading text-center">{{ section.settings.title }}</h2>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="cslide-wrapper" data-slider>
        <div class="cslide-slider-wrapper" data-slider-container>
          <div class="cslide-slider" id="CSlide-{{ section.id }}" data-count="{{ section.blocks.size }}" data-slider-track>
            {% for block in section.blocks %}
              <div id="slickSlide{{ block.id }}" class="cslide-slide cslide-slide--{{ block.id }}{% if section.blocks.size == 1 %} cslide-slide--single{% endif %}" aria-labelledby="slickDot{{ block.id }}" {{ block.shopify_attributes }} data-slider-slide-index="{{ forloop.index0 }}" data-slider-item>
                <div class="lookbook-gallery-item">
                  {% if block.settings.link != blank %}
                    <a class="lookbook-gallery-image" href="{{ block.settings.link }}">
                  {% else %}
                    <div class="lookbook-gallery-image">
                  {% endif %}

                    {% if block.settings.image == blank %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% else %}
                      <img src="{{ block.settings.image | img_url: '576x' }}" alt="{{block.settings.image.alt | escape}}">
                    {% endif %}

                  {% if block.settings.link != blank %}
                    </a>
                  {% else %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        {% if section.blocks.size > 1 and section.settings.slick_arrow %}
          <div class="lookbook-gallery-wrap-nav">
            <button class="lookbook-gallery-nav-previous" data-slider-button>{% include 'icon-chevron-left' %}</button>
            <button class="lookbook-gallery-nav-next" data-slider-button data-slider-button-next>{% include'icon-chevron-right' %}</button>
          </div>
        {% endif %}
      </div>

    {% endif %}
    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name":"Gallery slider",
  "class":"lookbook-gallery-slider-section",
  "max_blocks":16,
  "settings":[
     {
        "type":"text",
        "id":"title",
        "label":"Heading",
        "default":"shop the look"
     },
     {
        "type":"checkbox",
        "id":"slick_arrow",
        "label":"Show arrows",
        "default":true
     }
  ],
  "blocks":[
     {
        "type":"image",
        "name":"Image",
        "settings":[
           {
              "type":"image_picker",
              "id":"image",
              "label":"Image",
              "info":"Recommend size: 300x300px"
           },
           {
              "type":"url",
              "id":"link",
              "label":"Link",
              "info":"Optional"
           }
        ]
     }
  ]
}
{% endschema %}